<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <%= f.label :name %><br>
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>

    <div class="col-md-4">
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
    </div>
  </div>

    <div class="row">
      <div class='col-md-3 col-md-offset-9'>
        <%= link_to 'Retour',teams_path, class: "btn btn-primary" %>
        <%= f.submit "Mettre à jour", class: "btn btn-success" %>
      </div>
    </div>
<% end %>
