<h1>Listing bets</h1>

<table>
  <thead>
    <tr>
      <th>Start at</th>
      <th>Score1</th>
      <th>Score2</th>
      <th>Equipe1</th>
      <th>Equipe2</th>
      <th>Global result point</th>
      <th>Result point</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bets.each do |bet| %>
      <tr>
        <td><%= bet.start_at %></td>
        <td><%= bet.score1 %></td>
        <td><%= bet.score2 %></td>
        <td><%= bet.equipe1_id %></td>
        <td><%= bet.equipe2_id %></td>
        <td><%= bet.global_result_point %></td>
        <td><%= bet.result_point %></td>
        <td><%= link_to 'Show', bet %></td>
        <td><%= link_to 'Edit', edit_bet_path(bet) %></td>
        <td><%= link_to 'Destroy', bet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bet', new_bet_path %>
