
<div class="panel panel-default">

  <div class="panel-body">

    <div class="row">
      <div class='col-md-2'>
        <%= link_to 'Retour',tournament_ligue_path(@tournament, @ligue), class: "btn btn-primary" %>
      </div>
    </div><br />

    <table class="table table-condensed" style="text-align: center">
      <caption>Date du match <%=@bet.start_at.strftime("%d/%m/%Y à %Rh") %></caption>
      <tr>
        <td><h2><%=@bet.equipe1.name%></h2></td>
        <td></td>
        <%= image_tag(@bet.equipe1.avatar.url(:thumb))  %>
      </tr>
      <tr>
        <td><h2><%=@bet.equipe2.name%></h2></td>
        <td></td>
        <%= image_tag(@bet.equipe2.avatar.url(:thumb))  %>
      </tr>
    </table>

    <div class="row-fluid">
      <div class="span12 center-align">
        <div class="alert alert-info">Voici l'ensemble des pronostics qui ont été réalisés pour ce match:</div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Pronostiqueur</th>
        <th>Equipe 1</th>
        <th>Equipe 2</th>
      </tr>
      </thead>
      <tbody>
      <% @members.each do |member| %>
        <% @pronostics.each do |pronostic| %>
          <% if @ligue.id == pronostic.ligue_id && pronostic.bet_id == @bet.id && pronostic.user_id == member.user_id%>
            <tr>
              <td><%= member.user.name%></td>
              <td><%= pronostic.score1 %></td>
              <td><%= pronostic.score2 %></td>
            </tr>
          <%end%>
        <%end%>
      <%end%>

      </tbody>
    </table>
  </div>

</div>