<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @pronostic.user_id %>
</p>

<p>
  <strong>Bet:</strong>
  <%= @pronostic.bet_id %>
</p>

<p>
  <strong>Ligue:</strong>
  <%= @pronostic.ligue_id %>
</p>

<p>
  <strong>Score1:</strong>
  <%= @pronostic.score1 %>
</p>

<p>
  <strong>Score2:</strong>
  <%= @pronostic.score2 %>
</p>

<%= link_to 'Edit', edit_pronostic_path(@pronostic) %> |
<%= link_to 'Back', pronostics_path %>
