<div class="row center">
<h1><%= @ligue.name %></h1>
</div>

<hr/>
<h1>Matchs du jour (<%=DateTime.now.strftime("%d/%m/%Y à %R h")%>)</h1>
<hr/>


<% if (!@matchs_du_jour.blank?) %>
  <table class="table table-striped">
      <tbody>
      <% @matchs_du_jour.each do |bet| %>
          <tr>
            <td><%= bet.start_at.strftime("%d/%m/%Y à %Rh") %></td>
            <td><%= bet.equipe1.name %></td>
            <td>VS</td>
            <td><%= bet.equipe2.name %></td>
            <td>
              <% if bet.is_finished%>
                  Match terminé (<%= bet.score_final %>) </br>
              <% elsif bet.is_start %>
                  Trop tard pour un pronostic ! Match en cours...</br>
              <% elsif bet.pronosticated_by_user(current_user)%>
                  Déjà pronostiqué (<%=bet.pronosticated_by_user(current_user).score_prono%>) </br>
              <% else %>
                  <%= link_to "FAIRE MON PRONOSTIC",
                              new_tournament_ligue_bet_pronostic_path(@tournament, @ligue, bet), :class => 'btn btn-warning' %> </br>
              <% end %>
            </td>
            <td>
              <%= link_to "Voir les pronostics",
                          tournament_ligue_bet_path(@tournament, @ligue, bet), :class => 'btn btn-info btn-mediumlarge' %>
            </td>
          </tr>
      <% end %>
      </tbody>
  </table>
<%else %>
    Aujourd'hui il n'y a pas de match !
<% end %>

<hr/>
<h1>Matchs à venir</h1>
<hr/>


<% if (!@matchs_a_venir.blank?) %>
    <table class="table table-striped">
      <tbody>
      <% @matchs_a_venir.each do |bet| %>
          <tr>
            <td><%= bet.start_at.strftime("%d/%m/%Y à %R h") %></td>
            <td><%= bet.equipe1.name %></td>
            <td>VS</td>
            <td><%= bet.equipe2.name %></td>
            <td>
              <% if bet.is_finished%>
                  Match terminé (<%= bet.score_final %>) </br>
              <% elsif bet.is_start %>
                  Trop tard pour un pronostic ! Match en cours...</br>
              <% elsif bet.pronosticated_by_user(current_user)%>
                  Déjà pronostiqué (<%=bet.pronosticated_by_user(current_user).score_prono%>) </br>
              <% else %>
                  <%= link_to "FAIRE MON PRONOSTIC",
                              new_tournament_ligue_bet_pronostic_path(@tournament, @ligue, bet), :class => 'btn btn-warning' %> </br>
              <% end %>
            </td>
            <td>
              <%= link_to "Voir les pronostics",
                          tournament_ligue_bet_path(@tournament, @ligue, bet), :class => 'btn btn-info btn-mediumlarge' %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<%else %>
    Il n'y a pas de match à venir !
<% end %>

<hr/>
<h1>Matchs terminés</h1>
<hr/>


<% if (!@matchs_a_venir.blank?) %>
    <table class="table table-striped">
      <tbody>
      <% @matchs_termines.each do |bet| %>
          <tr>
            <td><%= bet.start_at.strftime("%d/%m/%Y à %R h") %></td>
            <td><%= bet.equipe1.name %></td>
            <td>VS</td>
            <td><%= bet.equipe2.name %></td>
            <td>
              Match terminé (<%= bet.score_final %>)
            </td>
            <td>
              <%= link_to "Voir les pronostics",
                          tournament_ligue_bet_path(@tournament, @ligue, bet), :class => 'btn btn-info btn-mediumlarge' %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<%else %>
    Il n'y a pas de match à venir !
<% end %>

