<div class="panel panel-default">
  <div class="panel-heading center">
    <h1><%= @ligue.name %></h1>

  </div>

  <div class="panel-body">

    <div class="row">
      <div class='col-md-12'>
        <div class='col-md-2'>
          <%= link_to 'Retour',tournament_ligues_path(@tournament), class: "btn btn-primary" %>
        </div>
        <div class='col-md-2 col-md-offset-6'>
          <%= link_to 'Classement général',tournament_ligue_classement_path(@tournament.id, @ligue.id), class: "btn btn-warning" %>
        </div>
        <div class='col-md-2'>
          <%= link_to 'Classement du jour',tournament_ligue_classementday_path(@tournament.id, @ligue.id), class: "btn btn-success" %>
        </div>
      </div>

    </div>
  </div>
</div><br />






<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Matchs du jour (<%=DateTime.now.strftime("%d/%m/%Y à %Rh")%>)</h1>
  </div>

  <div class="panel-body">
    <% if (!@matchs_du_jour.blank?) %>
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped">
          <tbody>
          <% @matchs_du_jour.each do |bet| %>
              <tr>
                <td><%= bet.start_at.strftime("%d/%m/%Y à %Rh") %></td>
                <td><%= image_tag(bet.equipe1.avatar.url(:mini))  %> <%= bet.equipe1.name %> </td>
                <td>VS</td>
                <td><%= bet.equipe2.name %> <%= image_tag(bet.equipe2.avatar.url(:mini))  %></td>
                <td>
                  <% if bet.is_finished%>
                      Match terminé (<%= bet.score_final %>) </br>
                  <% elsif bet.is_start %>
                      Trop tard pour un pronostic ! Match en cours...</br>
                  <% elsif bet.pronosticated_by_user(current_user, @ligue)%>
                      Déjà pronostiqué (<%=bet.pronosticated_by_user(current_user).score_prono%>) </br>
                  <% else %>
                      <%= link_to "FAIRE MON PRONOSTIC",
                                  new_tournament_ligue_bet_pronostic_path(@tournament, @ligue, bet), :class => 'btn btn-warning' %> </br>
                  <% end %>
                </td>
                <td>
                  <%= link_to "Voir les pronostics",
                              tournament_ligue_bet_path(@tournament, @ligue, bet), :class => 'btn btn-info btn-mediumlarge' %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
            </div>
          </div>
        </div>
  <%else %>
        Aujourd'hui il n'y a pas de match !
    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Matchs à venir</h1>
  </div>

  <div class="panel-body">
    <% if (!@matchs_a_venir.blank?) %>
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-striped">
          <tbody>
          <% @matchs_a_venir.each do |bet| %>
              <tr>
                <td><%= bet.start_at.strftime("%d/%m/%Y à %Rh") %></td>
                <td><%= image_tag(bet.equipe1.avatar.url(:mini))  %> <%= bet.equipe1.name %> </td>
                <td>VS</td>
                <td><%= bet.equipe2.name %> <%= image_tag(bet.equipe2.avatar.url(:mini))  %></td>
                <td>
                  <% if bet.is_finished%>
                      Match terminé (<%= bet.score_final %>) </br>
                  <% elsif bet.is_start %>
                      Trop tard pour un pronostic ! Match en cours...</br>
                  <% elsif bet.pronosticated_by_user(current_user, @ligue)%>
                      Déjà pronostiqué (<%=bet.pronosticated_by_user(current_user, @ligue).score_prono%>) </br>
                  <% else %>
                      <%= link_to "FAIRE MON PRONOSTIC",
                                  new_tournament_ligue_bet_pronostic_path(@tournament, @ligue, bet), :class => 'btn btn-warning' %> </br>
                  <% end %>
                </td>
                <td>
                  <%= link_to "Voir les pronostics",
                              tournament_ligue_bet_path(@tournament, @ligue, bet), :class => 'btn btn-info btn-mediumlarge' %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
            </div>
          </div>
        </div>
    <%else %>
        Il n'y a pas de match à venir !
    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Matchs terminés</h1>
  </div>

  <div class="panel-body">
    <% if (!@matchs_termines.blank?) %>
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-striped">
          <tbody>
          <% @matchs_termines.each do |bet| %>
              <tr>
                <td><%= bet.start_at.strftime("%d/%m/%Y à %Rh") %></td>
                <td><%= image_tag(bet.equipe1.avatar.url(:mini))  %> <%= bet.equipe1.name %> </td>
                <td>VS</td>
                <td><%= bet.equipe2.name %> <%= image_tag(bet.equipe2.avatar.url(:mini))  %></td>
                <td>
                  Match terminé (<%= bet.score_final %>)
                </td>
                <td>
                  <%= link_to "Voir les pronostics",
                              tournament_ligue_bet_path(@tournament, @ligue, bet), :class => 'btn btn-info btn-mediumlarge' %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
            </div>
          </div>
        </div>
    <%else %>
        Il n'y a pas de match terminé !
    <% end %>
  </div>
</div>


